* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input ::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button ::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a :visited {
  text-decoration: none; }

a :hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5 {
  font: inherit;
  font-weight: 400; }

/*--------------------------------------------------------- */
body {
  font-family: "Verdana";
  padding: 0 20px; }

.content {
  max-width: 800px;
  margin: 0 auto; }

.nav-menu .nav-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 15px;
  max-width: 400px;
  padding-bottom: 15px; }
  .nav-menu .nav-menu__list .nav-menu__item {
    list-style-type: none;
    padding: 15px 15px 7px 15px; }
  .nav-menu .nav-menu__list .nav-menu__item > a {
    text-decoration: none;
    padding: 15px 15px 7px 15px;
    color: teal; }
  .nav-menu .nav-menu__list .nav-menu__item > a:hover {
    color: white;
    background: teal;
    border-radius: 0px 0px 10px 10px; }

.create-book-form {
  display: flex;
  gap: 5px;
  flex-direction: column; }

input[type="text"] {
  font-size: 15px;
  line-height: 26px;
  padding: 0 5px;
  color: DimGray;
  border: 1px solid teal;
  border-radius: 3px; }
  input[type="text"]:focus {
    outline: 3px solid teal; }

input[type="submit"] {
  display: block;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  font-size: 15px;
  line-height: 29px;
  padding: 0 10px;
  border-radius: 3px; }

textarea {
  font-size: 15px;
  line-height: 26px;
  padding: 0 5px;
  color: DimGray;
  border: 1px solid teal;
  border-radius: 3px; }
  textarea:focus {
    outline: 3px solid teal; }

input[type="file"] {
  font-size: 15px;
  line-height: 26px;
  padding: 0 5px;
  color: DimGray;
  border: 1px solid teal;
  border-radius: 3px; }
  input[type="file"]:focus {
    outline: 3px solid teal; }

.difficulty {
  border: 1px solid teal;
  padding: 5px;
  border-radius: 3px; }
  .difficulty > h3 {
    text-align: center;
    color: dimgray; }

.difficulty__flex {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px 5px 0px; }

label {
  border: 1px solid teal;
  padding: 5px 8px;
  border-radius: 15px; }
  label > span {
    color: teal;
    font-size: 14px; }

select {
  font-size: 15px;
  line-height: 30px;
  padding: 5px 5px;
  color: DimGray;
  background-color: white;
  border: 1px solid teal;
  border-radius: 3px; }

#select_label {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: DarkGray; }
